<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Traily</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

  <!-- login -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/external-styles.css">
  <link rel="stylesheet" href="/css/custom-styles.css">

<body>
  <div class="container">
    <ul class="nav justify-content-end">
      <li class="nav-item logout-item">
        <form action="/logout" method="post">
          <a class="nav-link" onclick="this.parentNode.submit();"><i class="bi bi-box-arrow-right"></i> Log out</a>
        </form>
      </li>
    </ul>