<%- include("partials/header") -%>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <!-- Image -->
                        <div class="img" style="background-image: url(images/portada.png);"></div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign Up</h3>
                                </div>
                                <!-- !Social Media logins deactivated -->
                                <!-- 
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a href="#"
                                            class="social-icon d-flex align-items-center justify-content-center"><span
                                                class="fa fa-facebook"></span></a>
                                        <a href="#"
                                            class="social-icon d-flex align-items-center justify-content-center"><span
                                                class="fa fa-twitter"></span></a>
                                    </p>
                                </div>
                                -->
                                <!--!-->
                            </div>

                            <!-- Sign up Form -->
                            <form action="/signup" method="post" class="signup-form">
                                <div class="form-group mt-3">
                                    <input id="email-field" type="email" name="email" class="form-control" required>
                                    <label class="form-control-placeholder" for="email">Email address</label>
                                </div>
                                <div class="form-group mt-3">
                                    <input id="password-field" name="password" type="password" class="form-control"
                                        required>
                                    <label class="form-control-placeholder" for="password">Password</label>
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <!-- Sign up button -->
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                        up</button>
                                </div>
                            </form>

                            <!-- Handle Alerts passed by app.js in the message var -->
                            <% if(typeof message==='undefined' ){ %>
                                <!-- nothing happens here -->
                                <% } else if (message==="already-exists" ) { %>

                                    <div class="alert alert-danger" role="alert">This email already exist!</div>

                                    <% } %>

                                        <!-- Log in link -->
                                        <form method="GET" action="/login">
                                            <p class="text-center">Already Register?
                                                <a class="signup-button"
                                                    onclick="this.parentNode.parentNode.submit();">Log
                                                    in</a>
                                            </p>
                                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer") -%>